<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container" th:fragment="carusel">
    <div class="data_content">
        <div>
            <!--Table with galleryEntity-->
            <table class="row table table-striped table-responsive" id="galleryEntity-table">
                <thead class="thead">
                <tr>
                    <th class="col-lg-6">File</th>
                    <th class="col-lg-2">Gallery name</th>
                    <th class="col-lg-2">State</th>
                    <th class="col-lg-2">Description</th>
                </tr>
                </thead>
                <tbody id="galleryEntity-table-body">
                <tr th:each="galleryEntity : ${gallery}">
                    <td class="col-lg-6"><img class="icon_img_public" th:src="@{'data:image/jpeg;base64,' + ${galleryEntity.getFile()}}"></td>
                    <td class="col-lg-2" th:text="${galleryEntity.getGalleryName()}"></td>
                    <td class="col-lg-2" th:text="${galleryEntity.getState()}"></td>
                    <td class="col-lg-2" th:text="${galleryEntity.getDescription()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>