<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery entity</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="nav :: nav"></div>
<div class="row col-lg-12">
    <!--Table with galleryEntity-->
    <table class="table table-striped table-responsive" id="galleryEntity-table">
        <thead class="thead">
        <tr>
            <th>Gallery name</th>
            <th>State</th>
            <th>Description</th>
            <th>File</th>
        </tr>
        </thead>
        <tbody id="galleryEntity-table-body">
        <tr th:each="galleryEntity : ${gallery}">
            <td th:text="${galleryEntity.getGalleryName()}"></td>
            <td th:text="${galleryEntity.getState()}"></td>
            <td th:text="${galleryEntity.getDescription()}"></td>
            <td><img class="icon_img" th:src="@{'data:image/jpeg;base64,' + ${galleryEntity.getFile()}}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form enctype="multipart/form-data" class="col-md-4" action="#" th:action="@{add}" th:method="post">
        <p>File: <input class="form-control" type="file" name="file"/></p>
        <p>Gallery name: <input class="form-control" type="text" name="galleryName"/></p>
        <p>Description: <input class="form-control" type="text" name="description"/></p>
        <p><input class="btn btn-success" type="submit" value="Submit"/> <input class="btn btn-primary" type="reset"
                                                                                value="Reset"/></p>
    </form>
</div>
<div th:replace="jsScripts :: scripts"></div>
</body>
</html>