<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div id="backgroundImage"></div>
<div th:replace="nav :: nav"></div>
<div class="data_content">
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Register User</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                    <form class="form" action="#" th:action="@{add}" th:method="post">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="name"><h4>Name</h4></label>
                                <input class="form-control" type="text" id="name" placeholder="enter name"
                                       title="enter your name." name="name"/>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Phone</h4></label>
                                <input class="form-control" type="text" id="phone" placeholder="enter phone"
                                       title="enter your phone number." name="phone"/>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input class="form-control" type="text" id="email" placeholder="you@email.com"
                                       title="enter your email." name="email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="status"><h4>Status</h4></label>
                                <input class="form-control" type="text" id="status" placeholder="enter status"
                                       title="enter your status." name="status"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="country"><h4>Country</h4></label>
                                <input class="form-control" type="text" id="country" placeholder="enter country"
                                       title="enter your country." name="country"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="login"><h4>Login</h4></label>
                                <input class="form-control" type="text" id="login" placeholder="enter login"
                                       title="enter your login." name="login"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="pass"><h4>Password</h4></label>
                                <input class="form-control" type="text" id="pass" placeholder="password again"
                                       title="enter your password." name="pass"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="confPass"><h4>Confirm password</h4></label>
                                <input class="form-control" type="text" id="confPass" placeholder="password again"
                                       title="enter your password one more time." name="confPass"/>
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Save
                                </button>
                                <button class="btn btn-lg" type="reset"><i
                                        class="glyphicon glyphicon-repeat"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>


<div th:replace="jsScripts :: scripts"></div>
</div>
</body>
</html>